* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.purple {
  color: #4A3CAD;
}

.black {
  color: #2e3034;
}

.white {
  color: #fff;
}

.gray {
  color: #6a6d77;
}

.green {
  color: #26713b;
}

h2, h3 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Noto Sans', sans-serif;
}


